<!-- wp:template-part {"slug":"header","theme":"spiritwestuc","tagName":"header"} /-->

<!-- wp:group {"className":"notices", "layout":{"constrained"}} -->
<div class="wp-block-group notices"><!-- wp:heading {"level":6,"className":"covid"} -->
  <h6 class="covid"><a href="http://localhost:10008/covid/" data-type="page" data-id="202"><strong>COVID</strong></a></h6>
  <!-- /wp:heading -->
  
  <!-- wp:heading {"level":6,"className":"live-stream"} -->
  <h6 class="live-stream"><strong>LIVE STREAM</strong></h6>
  <!-- /wp:heading --></div>
  <!-- /wp:group -->
  
  <!-- wp:group {"tagName":"main"} -->
  <main class="wp-block-group"><!-- wp:post-content {"layout":{"inherit":true}} /-->
  
  <!-- wp:spacer {"height":"52px"} -->
  <div style="height:52px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer --></main>
  <!-- /wp:group -->
  
  <!-- wp:template-part {"slug":"footer","theme":"spiritwestuc","tagName":"footer"} /-->