<!-- wp:template-part {"slug":"header","theme":"spiritwestuc"} /-->

<!-- wp:group {"className":"notices bible-paper-background","layout":{"type":"default"}} -->
<div class="wp-block-group notices bible-paper-background"><!-- wp:heading {"level":6,"textColor":"vivid-red","className":"covid"} -->
  <h6 class="covid has-vivid-red-color has-text-color">COVID-19</h6>
  <!-- /wp:heading -->
  
  <!-- wp:heading {"level":6,"className":"live-stream"} -->
  <h6 class="live-stream">LIVE STREAM</h6>
  <!-- /wp:heading --></div>
  <!-- /wp:group -->
  
  <!-- wp:group {"tagName":"main","className":"content"} -->
  <main class="wp-block-group content"><!-- wp:group {"className":"post-header","layout":{"inherit":false}} -->
  <div class="wp-block-group post-header"></div>
  <!-- /wp:group -->
  
  <!-- wp:post-title {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"background","className":"post-title text-shadow"} /-->
  
  <!-- wp:post-featured-image {"className":"post-feature-image"} /-->
  
  <!-- wp:post-content {"layout":{"inherit":true}} /-->
  
  <!-- wp:spacer {"height":"32px"} -->
  <div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
  
  <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
  <div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex"}} -->
  <div class="wp-block-group"><!-- wp:post-date {"format":"F j, Y","style":{"typography":{"fontStyle":"italic","fontWeight":"400"}},"fontSize":"small"} /-->
  
  <!-- wp:post-author {"showAvatar":false,"fontSize":"small"} /-->
  
  <!-- wp:post-terms {"term":"category","fontSize":"small"} /-->
  
  <!-- wp:post-terms {"term":"post_tag","fontSize":"small"} /--></div>
  <!-- /wp:group -->
  
  <!-- wp:spacer {"height":"32px"} -->
  <div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
  
  <!-- wp:separator {"opacity":"css","className":"is-style-wide"} -->
  <hr class="wp-block-separator has-css-opacity is-style-wide"/>
  <!-- /wp:separator --></div>
  <!-- /wp:group --></main>
  <!-- /wp:group -->
  
  <!-- wp:template-part {"slug":"footer","theme":"spiritwestuc","tagName":"footer"} /-->